@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700');
$font-base: 'Space Mono', monospace;

$color-rangoon-green: #1b1b1b;
$color-green: #6daa80;
$color-celtic: #2d3d35;
$color-vista-blue: #86ddb5;
$color-dark-jungle: #1e2120;
$color-timber-green: #304138;
$color-red: #ed3737;

@import './reset';
@import './progressButton';
@import './table';

*, *:after, *:before { box-sizing: border-box; }

html {
  font-size: 14px;
}

body {
	background: $color-rangoon-green;
	color: $color-green;
	height: auto;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	* { font-family: $font-base; }
}

.box {
  background: rgba($color-timber-green, .2);
	margin: 8px;
	padding: 8px;
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0px;
    background-image: radial-gradient(circle at center, rgba($color-green, .5) 2px, transparent 2px),
      radial-gradient(circle at center, rgba($color-green, .5) 2px, transparent 2px);
    background-size: 2px 2px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.box--inline {
  @extend .box;

  display: inline-block;
}

.error {
  color: $color-red;
}

button {
	background: $color-dark-jungle;
	border: 1px solid $color-timber-green;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 5px;
	margin-right: 5px;
	outline: none;
	padding: 5px;

	&:not(:disabled):hover {
		border-color: $color-vista-blue;
		box-shadow: 0 0 15px rgba($color-vista-blue, .9);
		color: #fff;
	}

	&:active {
		border-color: $color-timber-green;
		box-shadow: inset 0 0 10px rgba($color-vista-blue, .5);
	}

	&:disabled {
		opacity: .2;
	}

  &:not(:disabled) {
    cursor: pointer;
  }
}

p {
  font-size: 1rem;
	margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

h3 {
	border-bottom: 1px solid rgba($color-vista-blue, .2);
	color: rgba(#fff, .4);
	font-size: .8rem;
  margin-bottom: 5px;
	text-transform: uppercase;
}

.mts { margin-top: 5px; }
.mrs { margin-right: 5px; }
.mbs { margin-bottom: 5px; }
.mls { margin-left: 5px; }
.pts { padding-top: 5px; }
.prs { padding-right: 5px; }
.pbs { padding-bottom: 5px; }
.pls { padding-left: 5px; }
