@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700');
$font-base: 'Space Mono', monospace;

*, *:after, *:before { box-sizing: border-box; }

body {
	background: #1B1B1B;
	color: #6DAA80;
	font-size: 14px;
	height: auto;
	
	* { font-family: $font-base; }
}

.box {
	border: 1px solid #2D3D35;
	margin: 5px;
	padding: 5px;
}

button {
	background: #1E2120;
	border: 1px solid #304138;
	margin-right: 5px;
	outline: none;
	padding: 5px;
	
	&:hover {
		border-color: #86DDB5;
		box-shadow: 0 0 15px rgba(#86DDB5, .9);
		color: #fff;
	}
	
	&:active {
		border-color: #304138;
		box-shadow: inset 0 0 10px rgba(#86DDB5, .5);
	}
	
	&:disabled {
		opacity: .2;
	}
}

p {
	margin-bottom: 5px;
}

h3 {
	border-bottom: 1px solid rgba(#86ddb5, .2);
	color: rgba(#fff, .4);
	font-size: .8rem;
	text-transform: uppercase;
}

.mts { margin-top: 5px; }
.mrs { margin-right: 5px; }
.mbs { margin-bottom: 5px; }
.mls { margin-left: 5px; }
.pts { padding-top: 5px; }
.prs { padding-right: 5px; }
.pbs { padding-bottom: 5px; }
.pls { padding-left: 5px; }
